<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODO List</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <h1>TODO List</h1>
            
            <form class="input-container" action="/index" method="POST">
                <input type="hidden" name="userId" value="<%= user %>" id="userId">
                <input type="text" id="taskInput" placeholder="Enter your task.." name="task">
                <button id="addBtn">Add</button>
            </form>
            <div class="todo-conntent">
                <h2>Activities</h2>
                <% if (todos.length > 0) { %>
                    <% todos.forEach(todo => { %>
                        <div class="activity-item">
                            <p class="activity"><%= todo.task %></p>
                            <a class='delete' data_doc="<%= todo._id %>">
                                <i class="fa fa-trash-o" style="font-size:36px"
                                ></i>
                            </a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No activities added.</p>
                <% } %> 
                <div class="navbar">
                    <!-- Add the logout button in the navbar -->
                    <form action="/logout" method="GET">
                        <button type="submit" id="logoutBtn">Logout</button>
                    </form>
                </div>
            </div>
        <div>
        <script>
            // Select all delete buttons using querySelectorAll
            const deleteButtons = document.querySelectorAll('a.delete');

            // Loop through each delete button and attach an event listener
            deleteButtons.forEach(trashcan => {
                trashcan.addEventListener('click', (e) => {
                    e.preventDefault();
                    const userId = document.getElementById('userId').value;
                    console.log(userId);
                    const endpoint = '/index/' + trashcan.getAttribute('data_doc') + '?userId=' + userId;

                    fetch(endpoint, {
                        method: 'DELETE'
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        window.location.href = data.redirect;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                });
            });

        </script>

    </body>
</html>

