body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333333;
}

.label-class {
    display: block;
    margin-bottom: 10px;
    color: #333333;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:90%;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.button-class {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    margin: 5% 5% ;
    width: 90%;
    font-weight: bold;
}

.submit-button:hover {
    font-weight: bolder;
    background-color: #0056b3;
}

.register-button {
    text-decoration: none;
}
.register-button:hover {
    text-decoration: underline;
}